body {
    
    background-image: url(https://code.berlin/content/uploads/Computer-Science-Software-Engineering-1200x450.jpg);
    
} 

#mainname {

    padding: 20px;
    color: white;
    width: 300px;
    text-align: center;
    font-size: 45px;
    font-family: 'Megrim', cursive;
    font-weight: bolder;
}

nav {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/subtle-light-leak-on-black-background-moving-red-lens-flare-overlay-on-top-of-footage-with-screen-opacity-for-vintage-super-effect_bxts-er0_thumbnail-full01.png);
}

h2 {
    font-weight: bolder;
    padding: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color:white;
    margin-top: 10px;
    width:auto;
    text-align: center;
    letter-spacing: 2px;

    
}

label {
    color: white;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif ;
}

p {
    color: white;
    font-family: 'Orbitron', sans-serif ;
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/R0tz877/red-flare-flicker-loop_x1iv6uep__F0003.png);
    padding: 20px;
    margin: 10px;
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 17px;
}



.nav-item a:hover {

    color:white;
    font-size: 20px;
    
}

.nav-link {
    font-family: 'Orbitron', sans-serif ;
}



img {
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.btn {
    width: 160px;
    align-items: center;
    color:white;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
}

.btn:hover {
    background-color: rgb(26, 22, 255);
}



.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Orbitron', sans-serif ;
    padding: 5px;
    background-image: url( https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4zx2oCU_lijl3z600/subtle-light-leak-on-black-background-moving-red-lens-flare-overlay-on-top-of-footage-with-screen-opacity-for-vintage-super-effect_bxts-er0_thumbnail-full01.png);
}

@media screen and (max-width: 880px) {

    #mainname {
        width: 200px;
        font-size: 25px;
        padding: 10px;
    }

    .thumbnail {
       width: 60%;
       position: relative;
       left: 80px;
    }

    #pabt {

        line-height: 20px;
        font-size: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .btn-sm {
        width: 120px;
    }

    
    .footer {
        font-size: 10px;
        padding: 5px;
        
    }


}

@media screen and (max-width: 500px) {

    #mainname {
        width: 150px;
        font-size: 13px;
        padding: 10px;
    }

    #pabt {
        line-height: 15px;
        font-size: 13px;
    }

    h2 {
        font-size: 12px;
    }

    
    .btn-sm {
        width: 150px;
    }
        
    .footer {
        font-size: 10px;
    }
}